#eni-faq-dialog .eni-faq-item {
  border: 1px solid @color-gray-light;
  padding: 1em;
  margin-bottom: 1em;
}

#eni-faq-dialog .eni-faq-item h3 {
  color: @color-gray-dark;
  margin-bottom: 0.5em;
}

#eni-faq-dialog .eni-faq-item textarea.question,
#eni-faq-dialog .eni-faq-item textarea.answer {
  width: 100%;
  margin-bottom: 1em;
}

#eni-faq-dialog button.eni-faq-delete-all,
#eni-faq-dialog button.eni-faq-delete-question,
#eni-faq-dialog button.eni-faq-add-question,
#eni-faq-dialog button#faq-save {
  padding: 0.5em;
  margin-right: 1em;
}

#eni-faq-dialog button.eni-faq-delete-all {
  position: relative;
  float: right;
  bottom: 4px;
}
